@media handheld{
    /* Le code pour les mobiles ici */
     html body section aricle p#p1{
      background:blue;
    }
    html body section aricle p#p2{
       background:white;
    }
    html body section aricle p#p3{
        background:red;
    }
}
@media screen{
    /* Le code pour les ecrans ici */
    html body section aricle p#p1{
      background:blue;
    }
    html body section aricle p#p2{
       background:white;
    }
    html body section aricle p#p3{
        background:red;
    }

}



   
