body{
    font-size:16px;
    }
h1{
    font-size:8vw;
    }
    
TH{
    background: pink;
}
TABLE{
    border-color:pink;
    width:100%;
     
}
#logo {
    background-image: url("../img/logo-iut.jpg");
    background-size: 100%;
    width: 300px;
    height: 150px;
    margin:auto;
}
p#p1{
      background:blue;
    }

 p#p2{
       background:white;
    }
p#p3{
        background:red;
    }
article#nn3 img{
       width:80%;
    }
input{ width:80%; 
       margin-left:10%;
}
html body section img{
   width:50%;
   margin-left:20%;
}
html body #image{
	width:80%;
	height: 400px;
        margin-left:20%;
        /**background-image: url("../img/logo-iut.jpg") ;
        background-size:contain;**/
        background: white url("../img/logo-iut.jpg") no-repeat ;
}
@media screen and (min-width: 481px) and (max-width: 767px){
    /* Le code pour les tablettes ici */
    TD,TH,TR{
        display: block;
    }
    TABLE{
    border-color:pink;
    width:100%;
    }
     p#p1, p#p2, p#p3{
      width:100%;
      background:green;
    }  
     html body section img{
      width:80%;
} 
 html body section img{
   width:60%;
   margin-left:10%;
}
}
@media screen and (max-width: 480px){
    /* Le code pour les mobiles ici */
      TD,TH,TR{
        display: block;
     }
    TABLE{
    border-color:pink;
    width:100%;
    }
     p#p1, p#p2, p#p3{
      width:100%;
      background:orange;
    }  
     html body section img{
      width:100%;
}
html body section img{
   width:100%;
   margin-left:10%;
}
}

